<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
    <add name="TiaHMSConnection" providerName="Npgsql.NpgsqlConnection" connectionString="eBqW0XoY1qtJRiO7rS/zOnRRHvFn73DUZgFSQF/wVcAOE0Bahw7GS4ZxsVI/fbTP5BscClNeND4Hc/iIK94t3C6GtUr4js4fdvSGQTM+mcTbxOIwKEntoXz1JM37ai4TGjDUk5D3okTknjSr+wEOAVeC5DoC6aexFrjOZoOqBmRrIbSYVKTew5yTwx4biv/I"/> <!--live-->
    <!--<add name="TiaHMSConnection" providerName="Npgsql.NpgsqlConnection" connectionString="eBqW0XoY1quSXhP8YHZgdrfVUsEPQIEf+LTyDh04e3wNPJqlShdd38mSWkshZ5PSsLh+ApmIJrieJDrN2zjcytbYwcvOqZd0yc9uPvRySh09j0uu/qPea0+j8WENnTFNcYdXuEA/xV4Ft9ay9TUDiCE3HZTF2gJ7loEpQNIvBQJMnlusDWkrJd4gm9PB7LSH"/>-->
    <!--<add name="TiaHMSConnection" providerName="Npgsql.NpgsqlConnection" connectionString="eBqW0XoY1quSXhP8YHZgdvHFq/I66cdC+LTyDh04e3zRpkGSHiQMok9VUS/TZcrwM4YdfQz0vV6Hu1177J67odkVHuCop+6AhB+b1dZSbQHVopiRZcZCogSmqnOZo0VTOCyihPKpuC4ZWanHbFbyXuHgNh1VLXuPleXgilqwYN9QjSXeniKyP2ff8eT5liOU"/>    --><!-- Community-->
  </connectionStrings>
</configuration>
