<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
    <add name="TiaHMSConnection" providerName="Npgsql.NpgsqlConnection" connectionString="eBqW0XoY1quSXhP8YHZgdva0oyeRyi18+LTyDh04e3wNPJqlShdd39JryNkJdx6NsLh+ApmIJriQ+LAT2wGBS2kIHNiHBaBhdvSGQTM+mcSdPj7aq+EMcww0o0H8d7EsfPUkzftqLhMaMNSTkPeiROSeNKv7AQ4BV4LkOgLpp7EWuM5mg6oGZGshtJhUpN7DnJPDHhuK/8g="/>
  </connectionStrings>
</configuration>
